.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.box {
  display: inline-block;
  /* background: #ccc; */
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  /* box-sizing: border-box; */
  /* margin-bottom: 10px; */
  overflow: hidden;
  position: relative;
  /* margin: 20px; */
}
